html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  
}

.scroll-box {
  height: 79vh;
  width: 100vw;
  overflow-y: auto;
  
}
.bad {
  width: 70px;
  height: 70px;
  border-radius: 29px;
  color: #000000ED;
  background-color: rgba(218, 135, 43, 1);
}
.home {
  width: 30px;
  height: 30px;
}